/.vs
/bin
/binutils
/build
/kos/.vs/slnx.sqlite
/kos/.vs/slnx.sqlite-journal
/kos/.vs/kos
/kos/.vs/config
/kos/.vs/launch.vs.json
/kos/.vs/ProjectSettings.json
/kos/.vs/VSWorkspaceState.json
/qemu-events
/asm.S
/kos/include/i386-kos/c++
__ice__
*.dec
*.latest
*.stackdump

# These headers are installed by `make_utility.sh i386 ncurses`
/kos/include/curses.h
/kos/include/ncurses.h
/kos/include/ncurses_dll.h
/kos/include/term.h
/kos/include/termcap.h
/kos/include/unctrl.h
