/.vs/
/bin/
/binutils/
/build/
/kos/.vs/config
/kos/.vs/kos
/kos/.vs/proj
/kos/.vs/slnx.sqlite
/kos/.vs/slnx.sqlite-journal
/kos/.vs/launch.vs.json
/kos/.vs/ProjectSettings.json
/kos/.vs/VSWorkspaceState.json
/kos/.vscode/launch.json
/kos/.vscode/c_cpp_properties.json
/kos/CppProperties.json
/kos/src/kernel/CppProperties.json
/kos/src/kernel/core/CppProperties.json
/qemu.netdump
/qemu.events
/qemu.conf
/asm.S
/kos/include/i386-kos/c++
/kos/include/i386-kos/c++-backup-*
/kos/include/arm-kos/c++
/kos/ammend.sources
__ice__
*.dec
*.latest
*.stackdump
*.tmp

# Custom user-defined configurations
/kos/include/kos/config/configurations/*.h
!/kos/include/kos/config/configurations/OD.h
!/kos/include/kos/config/configurations/OnD.h
!/kos/include/kos/config/configurations/nOD.h
!/kos/include/kos/config/configurations/nOnD.h

# These headers are installed by `make_toolchain.sh`
/kos/include/i386-kos/kos/config/_toolchain32.h
/kos/include/i386-kos/kos/config/_toolchain64.h
/kos/include/arm-kos/kos/config/_toolchain.h

# These headers are installed by `make_utility.sh ... ncurses`
/kos/include/bsd/curses.h
/kos/include/curses.h
/kos/include/eti.h
/kos/include/form.h
/kos/include/menu.h
/kos/include/nc_tparm.h
/kos/include/panel.h
/kos/include/term_entry.h
/kos/include/tic.h
/kos/include/ncurses.h
/kos/include/ncurses_dll.h
/kos/include/ncurses_cfg.h
/kos/include/ncurses_def.h
/kos/include/term.h
/kos/include/termcap.h
/kos/include/unctrl.h
/kos/include/cursesapp.h
/kos/include/cursesf.h
/kos/include/cursesm.h
/kos/include/cursesp.h
/kos/include/cursesw.h
/kos/include/cursslk.h
/kos/include/etip.h
/kos/include/ncurses/
/kos/include/ncursesw/

# These headers are installed by `make_utility.sh ... zlib`
/kos/include/zconf.h
/kos/include/zlib.h

# These headers are installed by `make_utility.sh ... python`
/kos/include/python2.7/
/kos/include/i386-kos/python2.7/

# These headers are installed by `make_utility.sh [i386|x86_64] libffi`
/kos/include/i386-kos/_libffi/
/kos/include/i386-kos/ffi.h
/kos/include/i386-kos/ffitarget.h

# Temporary file created while installing python
/kos/include/ffi.h

# These headers are installed by `make_utility.sh ... libpng`
/kos/include/libpng/
/kos/include/libpng16/
/kos/include/i386-kos/libpng16/
/kos/include/png.h
/kos/include/pngconf.h
/kos/include/pnglibconf.h

# These headers are installed by `make_utility.sh ... libdrm`
/kos/include/libdrm/
/kos/include/libkms/
/kos/include/drm/
/kos/include/drm.h
/kos/include/libsync.h
/kos/include/xf86drm.h
/kos/include/xf86drmMode.h

# These headers are installed by `make_utility.sh ... libexpat`
/kos/include/expat.h
/kos/include/expat_external.h
/kos/include/i386-kos/expat_config.h

# These headers are installed by `make_utility.sh ... openssl`
/kos/include/openssl/
/kos/include/i386-kos/openssl/

# These headers are installed by `make_utility.sh ... libbzip2`
/kos/include/bzlib.h

# These headers are installed by `make_utility.sh ... libfreetype2`
/kos/include/freetype/
/kos/include/ft2build.h

# These headers are installed by `make_utility.sh ... libpixman`
/kos/include/pixman-1/
/kos/include/pixman-version.h
/kos/include/pixman.h

# These headers are installed by `make_utility.sh ... libuuid`
/kos/include/uuid/
/kos/include/uuid.h

# These headers are installed by `make_utility.sh ... fontconfig`
/kos/include/fontconfig/

# These headers are installed by `make_utility.sh ... libjson-c`
/kos/include/json-c/

# These headers are installed by `make_utility.sh ... file`
/kos/include/magic.h

# These headers are installed by `make_utility.sh ... liblzma`
/kos/include/lzma/
/kos/include/lzma.h

# These headers are installed by `make_utility.sh ... libpcre`
/kos/include/pcre.h
/kos/include/pcre_scanner.h
/kos/include/pcre_stringpiece.h
/kos/include/pcrecpp.h
/kos/include/pcrecpparg.h
/kos/include/pcreposix.h

# These headers are installed by `make_utility.sh ... libglib`
/kos/include/gio-unix-2.0/
/kos/include/glib-2.0/
/kos/include/glib/
/kos/include/glib-object.h
/kos/include/glib.h
/kos/include/glib-unix.h
/kos/include/gmodule.h
/kos/include/i386-kos/glibconfig.h
/kos/include/i386-kos/glibconfig32.h
/kos/include/i386-kos/glibconfig64.h

# These headers are installed by `make_utility.sh ... libgmp`
/kos/include/gmpxx.h
/kos/include/gmp.h

# These headers are installed by `make_utility.sh ... libmpfr`
/kos/include/mpf2mpfr.h
/kos/include/mpfr.h

# These headers are installed by `make_utility.sh ... libmpc`
/kos/include/mpc.h

# These headers are installed by `make_utility.sh ... libreadline`
/kos/include/readline/

# These headers are installed by `make_utility.sh ... bash`
/kos/include/bash/

# These headers are installed by `make_utility.sh ... make`
/kos/include/gnumake.h

# These headers are installed by X11-related programs/libraries
/kos/include/X11/
/kos/include/xcb/
/kos/include/GL/
/kos/include/xorg/
